.menu-centered
{
    background-color: black;
}

.menu{
    color: aliceblue;
}
body{
    background-image: url(../img/pattern_40.gif)
}
#line1{

    background-color: aliceblue;
}
.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0;
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px;
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow:
		2px -2px 0 2px rgba(0, 0, 0, 0.4),
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
	background: #9EEB62;
}
.logo
{
    color: aliceblue;
    text-align: center;
}
.footer{
    margin-top: 40%;
    background-color: whitesmoke;
}
.row
{
    max-width: 100%;
}
/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form {padding:30px; width:550px; float:left;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#fff;font-size:14px; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text {padding:10px 10px;width:420px;background:#6e3943;border:none; color:#939191;}
.contact-form .message{padding:10px 10px;width:420px; background:#6e3943; border:none;overflow:hidden;height:150px; color:#939191; font-size:14px;}
.contact-form .button{padding:8px;background:#e18868; color:#633039; text-transform:uppercase; font-family:'Open Sans', sans-serif; border:0px solid;margin-left:100px;margin-top:20px;}

.address {width:320px;float:right; padding-top:30px;}
.address .panel { border:none; color:#9b9e9a;}
.address .panel .title h1 {  color:#e18868; padding-bottom:10px; font-weight:normal;}
.address .panel .content p{color:#fff;}
.address .panel .content p span { color:#fff;}
/* Footer 2 */
footer.bg-color-2 {
  background: #f8f8f8;
  color: #666666;
}
footer.footer-2 .logo-footer {
  margin-bottom: 35px;
}
footer.footer-2 .social-icons-2 {
  margin-top: 20px;
}
footer.footer-2 .social-icons-2 a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 15px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: transparent;
  color: #888888;
  margin-right: 5px;
  border: 1px solid #e6e6e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
footer.footer-2 .social-icons-2 a:hover {
  background: #29b6f6;
  border-color: #29b6f6;
  color: #ffffff;
}
footer.footer-2 .social-icons-2 a.facebook:hover {
  background-color: #02549F;
  border-color: #02549F;
}
footer.footer-2 .social-icons-2 a.vk:hover {
  background-color: #4C75A3;
  border-color: #4C75A3;
}
footer.footer-2 .social-icons-2 a.vimeo:hover {
  background-color: #1AB7EA;
  border-color: #1AB7EA;
}
footer.footer-2 .social-icons-2 a.tumblr:hover {
  background-color: #35465D;
  border-color: #35465D;
}
footer.footer-2 .social-icons-2 a.twitter:hover {
  background-color: #00ACED;
  border-color: #00ACED;
}
footer.footer-2 .social-icons-2 a.behance:hover {
  background-color: #1769FF;
  border-color: #1769FF;
}
footer.footer-2 .social-icons-2 a.instagram:hover {
  background-color: #DDCCBA;
  border-color: #DDCCBA;
}
footer.footer-2 .social-icons-2 a.pinterest:hover {
  background-color: #CD2129;
  border-color: #CD2129;
}
footer.footer-2 .social-icons-2 a.flickr:hover {
  background-color: #FF0084;
  border-color: #FF0084;
}
footer.footer-2 .social-icons-2 a.dribbble:hover {
  background-color: #EA4C89;
  border-color: #EA4C89;
}
footer.footer-2 .social-icons-2 a.google:hover {
  background-color: #D11516;
  border-color: #D11516;
}
footer.footer-2 .social-icons-2 a.youtube:hover {
  background-color: #E12A27;
  border-color: #E12A27;
}
footer.footer-2 .social-icons-2 a.linkedin:hover {
  background-color: #006699;
  border-color: #006699;
}
footer.footer-2 .social-icons-2 a.skype:hover {
  background-color: #00A7E5;
  border-color: #00A7E5;
}
footer.footer-2 .footer-contact {
  margin-top: 20px;
  margin-bottom: 35px;
}
footer.footer-2 .footer-contact ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 450px;
  display: inline-block;
}
footer.footer-2 .footer-contact ul li {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px;
}
footer.footer-2 .footer-contact ul li .fa {
  margin-right: 5px;
}
footer.footer-2 .footer-contact ul li span {
  display: inline-block;
  margin-left: 15px;
}
footer.footer-2 .sub-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
footer.bg-color-1 {
  background: #042433;
  color: #999999;
}
footer .main-footer {
  padding: 50px 0px 50px 0px;
}
footer .main-footer .widget-title {
  color: #ffffff;
  margin-bottom: 35px;
  margin-top: 25px;
}
footer .main-footer .widget-inner ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .main-footer .widget-inner ul li {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}
footer .main-footer .widget-inner ul li:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 13px;
  content: "\f105";
  color: #e5e5e5;
  position: absolute;
  left: 0px;
  top: 0px;
}
footer .main-footer .widget-inner ul li a {
  color: #e5e5e5;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}
footer .main-footer .widget-inner ul li a:hover {
  color: #29b6f6;
}
footer .main-footer .widget-inner .logo-footer {
  display: inline-block;
  margin-bottom: 35px;
}
footer .main-footer .widget-inner .social-icons {
  margin-top: 20px;
}
footer .main-footer .widget-inner .social-icons a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 15px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-right: 10px;
  float: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
footer .sub-footer {
  padding: 30px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
#about{
    
    margin-top: 10%;
    background-color: beige;
}
.about_bg{
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cardo);
figure.snip1524 {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}

figure.snip1524 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

figure.snip1524 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

figure.snip1524 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0%;
  -ms-transform-origin: 0 0%;
  transform-origin: 0 0%;
}

figure.snip1524 h2,
figure.snip1524 p {
  line-height: 1.5em;
  margin: 0;
}

figure.snip1524 h2 {
  font-family: 'Cardo', serif;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

figure.snip1524 p {
  padding: 8px 0 15px;
}

figure.snip1524 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

figure.snip1524:hover > img,
figure.snip1524.hover > img {
  opacity: 0.2;
}

figure.snip1524:hover figcaption,
figure.snip1524.hover figcaption {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}


/* Demo purposes only */

body {
  background-color: #212121;
}