@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #333;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #333;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.8em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #333;
	color: #333;
}

.related {
	text-align: center;
	font-size: 1.5em;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic|Megrim);
		*{
			box-sizing: border-box;
		}
		body {
			background: #eee;
			font-family: "Josefin Sans";
		}
		.event{
			border-radius: 4px;
			width: 400px;
			height: 150px;
      margin: 40px auto 0;
		}
		.event-side{
			padding: 10px;
			border-radius: 4px;
			float: left;
			height: 100%;
			width: calc(15% - 1px);
			box-shadow: 1px 2px 2px -1px #888;
			background: white;
			z-index: 1000;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
			position: relative;
			overflow: hidden;
			font-size: 0.8em;
			text-align: right;
		}
		.event-date, .event-time{
			position: absolute;
			width: calc(100% - 20px);
            color: black;
		}
		.event-date {
			top: 10px;
			font-size: 1.2em;
            color: black;
		}
		.event-time{
			bottom: 10px;
            color: black;
		}
		.to {
			display: block;
			position: relative;
			left: -25%;
            color: black;
		}
		.cut-out {
			border-radius: 1000px;
			width: 100%;
			height: 40%;
			display: block;
			position: absolute;
			left: -60%;
			top: 25%;
			background: #eee;
			box-shadow: inset -1px 2px 2px -1px #888
		}
		.dotted-line-separator {
			right: -2px;
			position: absolute;
			background: #fff;
			width: 5px;
			top: 8px;
			bottom: 8px;
		}
		.dotted-line-separator .line {
			/*border-right: 1px dashed #ccc;*/
			transform:rotate(90deg);
		}
		.dotted-line-separator .line:after {
			content: "| | | | | | | | | | | | | | | | | | | | | | | | | | |";
			overflow: hidden;
			display: block;
			position: relative;
			left: 1px;
			height: 90%;
			margin: 5px 0;
			display: block;
			color: rgba(204, 204, 204, 0.5);
		}
		.event-body {
			border-radius: 4px;
			float: left;
			height: 100%;
			width: 85%;
			box-shadow: 0 2px 2px -1px #888;
			background: white;
			padding-right: 10px;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px; 
		}
		.event-title, .event-location, .event-details{
			float: left;
			width: 54%;
			padding: 10px;
		}
		.event-title, .event-location {
			border-bottom: 1px solid #ccc;
		}
		.event-location, .event-details {
			height: 30%;
			line-height: 24px;
             color: black;
		}
		.event-title {
			height: 40%;
             color: black;
		}
		.event-title span{
			font-size: 0.5em;
			text-transform: uppercase;
			color: #888;
		}
		.event-title h3 {
			margin: 0;
		}
		.event-image{
			width: calc(46% - 20px);
			height: calc(100% - 20px);
			margin: 10px;
			float: left;
			overflow: hidden;
      text-align: center;
		}
		.image {
			display: block;
			height: 100%;
      widht: 100%;
      background: url('http://thumbs.dreamstime.com/x/dj-turns-records-club-under-blue-light-31682560.jpg') no-repeat center;
      background-size: cover;
		}